<div class="editar">
  <h2 class="editar__titulo">
    <span
      class="icono-info"
      nz-icon
      nzType="info-circle"
      nzTheme="outline"
    ></span
    >Editar Documento
  </h2>
  <form class="editar__form" [formGroup]="documentoActualizarForm">
    <nz-form-item class="editar__form--seccion">
      <nz-form-control>
        <label class="label">Nombre</label>
        <input nz-input type="text" formControlName="nombre_archivo" />
      </nz-form-control>
      <nz-form-control>
        <label class="label">Área</label>
        <input nz-input type="text" formControlName="area" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="editar__form--seccion">
      <nz-form-control>
        <p class="label">Activo</p>
        <select class="select" formControlName="activo">
          <option [value]="1">Si</option>
          <option [value]="0">No</option>
        </select>
      </nz-form-control>
      <nz-form-control>
        <p class="label">Archivo</p>
        <div class="custom-file">
          <input
            type="file"
            class="custom-file-input"
            (change)="modificarDatosDocumentoFormulario($event)"
          />
          <label class="custom-file-label">
            <span nz-icon nzType="upload" nzTheme="outline"></span>
            &nbsp;{{ textoArchivo }}
          </label>
        </div>
      </nz-form-control>
    </nz-form-item>
    <div class="editar__form--boton" (click)="actualizarDocumento()">
      <button
        nz-button
        nzType="primary"
        [disabled]="!documentoActualizarForm.dirty"
      >
        Actualizar Documento
      </button>
    </div>
  </form>
</div>
