<div class="editar">
  <h2 class="editar__titulo">
    <span
      class="icono-info"
      nz-icon
      nzType="info-circle"
      nzTheme="outline"
    ></span
    >Editar Archivo
  </h2>
  <form class="editar__form" [formGroup]="documentoActualizarForm">
    <nz-form-item class="editar__form--seccion">
      <nz-form-control>
        <label class="label">Nombre</label>
        <input nz-input type="text" formControlName="nombre_archivo" />
      </nz-form-control>
      <nz-form-control>
        <label class="label">Área</label>
        <input nz-input type="text" formControlName="area" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="editar__form--seccion">
      <nz-form-control>
        <label class="label">No de páginas</label>
        <input nz-input type="text"  />
      </nz-form-control>
      <nz-form-control>
        <label class="label">Clasificación</label>
        <input nz-input type="text"  />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="editar__form--seccion">
      <nz-form-control>
        <label class="label">Modificar archivo</label>
        <input
                  type="file"
                  id="input-files"
                  class="input-file"
                  (change)="archivoDocumentoModificar($event)"
                />
      </nz-form-control>
  </nz-form-item>
    <nz-alert
      *ngIf="mostrarNotificacion"
      nzType="success"
      nzMessage="Actualización del empleado correcta"
      class="notificacion"
    ></nz-alert>
    <div class="editar__form--boton" (click)="actualizarDocumento()">
      <button nz-button nzType="primary" [disabled]="!documentoActualizarForm.dirty">
        Actualizar empleado
      </button>
    </div>
  </form>
</div>
