<div class="contenedor-principal-pagina calendario">
  <div class="calendario__secciones-cabecera">
    <app-secciones-cabecera [secciones]="secciones"></app-secciones-cabecera>
  </div>

  <div class="calendario">
    <nz-calendar (nzSelectChange)="diaSeleccionado($event)">
      <ul *nzDateCell="let date" class="events">
        <ng-container [ngSwitch]="true">
          <ng-container *ngFor="let keyValuePair of listDataMap | keyvalue">
            <li *ngFor="let ite of keyValuePair.value">
              <div (click)="clickFechaGuardada(keyValuePair)">
                <nz-badge
                  *ngSwitchCase="
                    keyValuePair.key == date.getDate() &&
                    ite.mes == date.getMonth() + 1 &&
                    ite.ano == date.getFullYear()
                  "
                  [nzStatus]="ite.tipo"
                  [nzText]="ite.contenido"
                ></nz-badge>
              </div>
            </li>
          </ng-container>
        </ng-container>
      </ul>
      <ng-container *nzMonthCell="let month">
        <div *ngIf="getMonthData(month) as monthData" class="notes-month">
          <section>{{ monthData }}</section>
          <span>Backlog number</span>
        </div>
      </ng-container>
    </nz-calendar>
  </div>
</div>
