<div class="contenedor-principal-pagina calendario">
  <div class="calendario__secciones-cabecera">
    <app-secciones-cabecera [secciones]="secciones"></app-secciones-cabecera>
  </div>

  <div class="calendario">
    <nz-calendar (nzSelectChange)="elementoSeleccionado($event)">
      <ul *nzDateCell="let date" class="events">
        <ng-container [ngSwitch]="true">
          <ng-container *ngFor="let keyValuePair of listDataMap | keyvalue">
            <div (click)="clickFechaGuardada(keyValuePair)">
              <li *ngFor="let item of keyValuePair.value">
                <nz-badge
                  *ngSwitchCase="
                    keyValuePair.key == date.getDate() &&
                    item.mes == date.getMonth() + 1 &&
                    item.ano == date.getFullYear()
                  "
                  [nzStatus]="item.tipo"
                  [nzText]="item.contenido"
                ></nz-badge>
              </li>
            </div>
          </ng-container>
        </ng-container>
      </ul>
    </nz-calendar>
  </div>
</div>

<app-card-calendario
  *ngIf="mostrarCardCalendario"
  [eventosCalendario]="eventosCalendario"
  (clickCerrar)="clickCerrarModal()"
  (clickEliminarEvento)="clickEliminarEvento($event)"
></app-card-calendario>

<app-card-agregar
  *ngIf="mostrarAgregar"
  (clickCerrar)="modalAgregarCerrar()"
  (clickGuardar)="clickGuardar($event)"
></app-card-agregar>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Eliminar"
  nzOkText="Si"
  nzCancelText="No"
  (nzOnOk)="handleOk()"
  (nzOnCancel)="handleCancel()"
>
  <ng-container *nzModalContent>
    <p class="contenido">¿Desea eliminar la tarea?</p>
  </ng-container>
</nz-modal>

<span
  class="icono-flotante"
  nz-icon
  nzType="calendar"
  nzTheme="outline"
  nzTooltipTitle="Agregar tarea"
  nzTooltipPlacement="leftTop"
  nz-tooltip
  (click)="modalAgregar()"
></span>
