<div class="modal">
  <div class="modal__contenido">
    <div class="modal__contenido--cerrar" (click)="clickCerrarModal()">
      &times;
    </div>
    <div class="modal__contenido--secciones">
      <div class="modal__contenido--secciones__imagen">
        <img
          class="modal__contenido--secciones__imagen--icono"
          src="/assets/imagenes/caracteristicas.png"
          alt=""
        />
      </div>
      <div
        class="modal__contenido--secciones__informacion"
        *ngIf="seccionModal === 'informacion'"
      >
        <app-informacion [producto]="producto"></app-informacion>
      </div>
      <div
        class="modal__contenido--secciones__editar"
        *ngIf="seccionModal === 'editar'"
      >
        <app-editar
          [producto]="producto"
          [categorias]="categorias"
          (actualizarProductoEmit)="actualizacionProducto($event)"
        ></app-editar>
      </div>
      <div
        class="modal__contenido--secciones__editar"
        *ngIf="seccionModal === 'eliminar'"
      >
        <app-eliminar
          [producto]="producto"
          (eliminarProductoEmit)="eliminarProducto($event)"
        ></app-eliminar>
      </div>
    </div>
    <div class="modal__contenido--footer">
      <div class="modal__contenido--footer__contenedor-iconos">
        <div
          class="modal__contenido--footer__contenedor-iconos--seccion"
          (click)="clickInformacion()"
        >
          <span
            class="modal__contenido--footer__contenedor-iconos--seccion__icono"
            nz-icon
            nzType="container"
            nzTheme="outline"
            [ngClass]="{ seleccionada: seccionModal === 'informacion' }"
          ></span>
          <p
            class="modal__contenido--footer__contenedor-iconos--seccion__texto"
          >
            Información
          </p>
        </div>
        <div
          class="modal__contenido--footer__contenedor-iconos--seccion"
          (click)="clickEditar()"
        >
          <span
            class="modal__contenido--footer__contenedor-iconos--seccion__icono"
            nz-icon
            nzType="edit"
            nzTheme="outline"
            [ngClass]="{ seleccionada: seccionModal === 'editar' }"
          ></span>
          <p
            class="modal__contenido--footer__contenedor-iconos--seccion__texto"
          >
            Editar
          </p>
        </div>
        <div
          class="modal__contenido--footer__contenedor-iconos--seccion"
          (click)="clickEliminar()"
        >
          <span
            class="modal__contenido--footer__contenedor-iconos--seccion__icono eliminar"
            nz-icon
            nzType="delete"
            nzTheme="outline"
            [ngClass]="{ eliminarSelect: seccionModal === 'eliminar' }"
          ></span>
          <p
            class="modal__contenido--footer__contenedor-iconos--seccion__texto"
          >
            Eliminar
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
