<div class="ticket">
  <p class="ticket__titulo">Ticket de venta</p>
  <div class="ticket__informacion">
    <p
      class="ticket__informacion--total-productos"
    >
      Total de productos: {{ totalProductos }}
    </p>
    <p class="ticket__informacion--fecha">
      Fecha: {{ fecha | date : "dd MMMM yyyy HH:mm:ss" }}
    </p>
  </div>
  <div class="ticket__productos menu-sidebar">
    <div *ngIf="ticket.productosVenta">
      <div
        class="ticket__productos__producto"
        *ngFor="
          let producto of ticket.productosVenta;
          let ultimo = last;
          let i = index
        "
        [ngClass]="{ productoSelect: i == 0 }"
      >
        <div
          class="ticket__productos__producto--informacion"
        >
          <p
            class="ticket__productos__producto--informacion--nombre"
          >
            {{ producto.nombreProducto }}
          </p>
          <p
            class="ticket__productos__producto--informacion--precio"
          >
            {{ producto.precioVenta }}
          </p>
        </div>
        <div
          class="ticket__productos__producto--agregar"
          [ngClass]="{ productoSelect: i == 0 }"
        >
          <div
            class="ticket__productos__producto--agregar__sumador"
          >
            <div
              class="ticket__productos__producto--agregar__sumador--restar"
              [ngClass]="{ restar: producto.cantidad <= 1 }"
              (click)="restar(producto)"
            >
              -
            </div>
            <div
              class="ticket__productos__producto--agregar__sumador--cantidad"
            >
              {{ producto.cantidad }}
            </div>
            <div
              class="ticket__productos__producto--agregar__sumador--sumar"
              (click)="sumar(producto)"
            >
              +
            </div>
          </div>
          <p
            class="ticket__productos__producto--agregar__sumador--texto"
          >
            Cantidad a comprar
          </p>
        </div>
        <p
          class="ticket__productos__producto--precio-total"
        >
          {{ producto.total }}
        </p>
      </div>
    </div>
    <div
      *ngIf="!ticket.productosVenta"
      class="ticket__productos--sin-productos"
    >
      <div
        class="ticket__productos--sin-productos--img"
      >
        <img
          src="../../../../../assets/imagenes/agregar-producto-ticket.png"
          alt="add img"
        />
      </div>
      No hay productos en el ticket
    </div>
  </div>
  <div class="ticket__subtotal">
    <p class="ticket__subtotal--text">Subtotal:</p>
    <p class="ticket__subtotal--value">
      {{ subtotalTicket || "$0.00" }}
    </p>
  </div>
  <div class="ticket__iva">
    <p class="ticket__iva--text">IVA:</p>
    <p class="ticket__iva--value">
      {{ iva * 100 }}%
    </p>
  </div>
  <button
    class="ticket__total"
    [disabled]="!ticket.productosVenta"
    [ngClass]="{ botonDesactivado: !ticket.productosVenta }"
    (click)="pagarTicket()"
  >
    <p class="ticket__total--text">Pagar total:</p>
    <p class="ticket__total--value">
      {{ totalTicket || "$0.00" }}
    </p>
  </button>
</div>
