<section class="contenedor-principal-pagina productos">
  <header class="productos__secciones-cabecera">
    <app-secciones-cabecera [secciones]="secciones" (seleccionadoClick)="seleccionarCabecera($event)"></app-secciones-cabecera>
  </header>
<div  class="procutos__contenido">
  <div *ngIf="cabecera === 'Lista de productos'" class="procutos__contenido--tabla">
    <app-tabla></app-tabla>
  </div>

  <div *ngIf="cabecera === 'vista de tarjetas'" class="procutos__contenido--tabla">
    <app-tarjetas></app-tarjetas>
  </div>
</div>

</section>
