.productos {
    &__secciones-cabecera {
      margin-bottom: 50px;
    }
}

.modal {
  display: none; /* El modal estará oculto por defecto */
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
}

.modal.active {
  display: flex; /* Muestra el modal cuando tiene la clase "active" */
  align-items: center;
  justify-content: center;
}

.modal-content {
  /* Agrega estilos de tamaño, fondo, margen, etc. según tus necesidades */
}


