@import "../../../../../../../styles.scss";

.notas {
  &__documento {
    border-top: 1px solid rgb(192, 192, 192);
    border-bottom: 1px solid rgb(192, 192, 192);
    margin-bottom: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    &--boton {
      margin: auto 0px auto auto;
      &--ver {
        margin: 0px 10px;
        &:hover {
          background-color: $color-brand-primary;
          color: white;
        }
      }
      &--eliminar {
        margin: 0px 10px;
        &:hover {
          background-color: #ff4d4f;
          color: white;
        }
      }
    }
    &--icono {
      font-size: 16px;
      font-weight: 600;
    }
  }
  &__boton-agregar button {
    width: 100%;
  }
  &__boton-agregar {
    width: 50%;
    margin: 40px auto 5px auto;
    color: white;
    &--boton {
      &:hover {
        transition: 0.4s;
        background-color: $color-brand-primary;
        color: white;
      }
    }
  }
}

.input-file {
  display: none;
}
.ant-form input[type='file'] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  padding: 4px 10px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid $color-brand-primary;
  font-size: 14px;
  color: $color-brand-primary;
  margin: auto 0px auto auto;
}

.custom-file-upload:hover {
  transition: 0.4s;
  background-color: $color-brand-primary;
  color: white;
}

.boton-archivo {
  margin: auto 10px;
}

.texto-archivo{
  font-size: 14px;
  margin-top: 5px;
  margin-left: 10px;
}

.ant-select .ant-select-selector {
  border: none!important; 
}