<div class="contenedorPrincipal">
  <div class="contImagen">
    <img src="/assets/imagenes/user.png" alt="Perfil" />
    <div class="contStatus">
      <a
        nz-dropdown
        [nzDropdownMenu]="menu"
        [nzClickHide]="false"
        [(nzVisible)]="openModal"
      >
        <span
          *ngIf="openModal === false"
          class="fijo"
          nz-icon
          [nzType]="claseStatus"
          [nzTheme]="'twotone'"
          [nzTwotoneColor]="colorStatus"
          (click)="selccionar()"
        >
        </span>
        <span
          *ngIf="openModal === true"
          nz-icon
          [nzType]="'down-circle'"
          [nzTheme]="'twotone'"
          nzTwotoneColor="#001529"
          (mouseEvent)="selccionar()"
        >
        </span>
      </a>
    </div>

    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul class="m-t-10" nz-menu nzSelectable>
        <li class="item" (click)="cambioStatus('En línea')" nz-menu-item>
          <i
            class="m-r-5"
            nz-icon
            nzType="check-circle"
            nzTheme="twotone"
            nzTwotoneColor="#7FFF00"
          ></i>
          En línea
        </li>
        <li class="item" (click)="cambioStatus('Ausente')" nz-menu-item>
          <i
            class="m-r-5"
            nz-icon
            nzType="clock-circle"
            nzTheme="twotone"
            nzTwotoneColor="#FFA500"
          ></i>
          Ausente
        </li>
        <li class="item" (click)="cambioStatus('No molestar')" nz-menu-item>
          <i
            class="m-r-5"
            nz-icon
            nzType="info-circle"
            nzTheme="twotone"
            nzTwotoneColor="#FF0000"
          ></i>
          No molestar
        </li>
        <hr />
        <li class="item" nz-menu-item (click)="cambioStatus('Desconectado')">
          <i
            class="m-r-5"
            nz-icon
            nzType="minus-circle"
            nzTheme="twotone"
            nzTwotoneColor="#C0C0C0"
          ></i
          >Desconectado
        </li>
      </ul>
    </nz-dropdown-menu>
  </div>
  <br />
  <hr />
  <br />
  <div class="contInformacion">
    <button class="botones" nz-button nzType="primary" nzShape="round">
      Información General
    </button>
    <button nz-button nzType="primary" nzShape="round">Seguridad</button>
    <button nz-button nzType="primary" nzShape="round">Acciones</button>
    <button nz-button nzType="primary" nzShape="round">Registros</button>
  </div>
</div>
