@import "../../../../../styles.scss";




.contSuper{
    position: relative;
    text-align: center;
    justify-content: center;
    display: flex;
    
}

 img{
width: 150px;
height: 150px;
}

span[nz-icon]{
    font-size: 35px;
    }

.contStatus{
    position:absolute;
    bottom:11px;
    top: 110px;
    margin-left: 110px;
}

.item{
    width: 200px;
}

.item:hover {
background-color:#C0C0C0;
}

.contInformacion button{
    margin-left:70px ;
    top: 50px;
}

.editNombre a h3{
    position: absolute;
    left: 50px;
}

.editNombre{
    width: 400px;
    height: 400px;
}

.onlyNombre{
    margin-right: 30px;
}

  .icono-edit a{
    position: inherit;
    right: 200%;
  }
