<form [formGroup]="productoForm" class="form" (ngSubmit)="enviarForm()" nz-form nz-row>
    <nz-form-item nz-col nzSpan="8">
      <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="nombre">Nombre</nz-form-label>
      <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="Este campo es obligatorio!">
        <input nz-input formControlName="nombre" id="nombre" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzSpan="8">
      <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired nzFor="codigoBarras">Codigo de Barras</nz-form-label>
      <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="Este campo es obligatorio!">
        <input nz-input formControlName="codigoBarras" id="codigoBarras" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzSpan="8">
      <nz-form-label [nzSm]="18" [nzXs]="24" nzRequired nzFor="precio">Precio</nz-form-label>
      <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="Este campo es obligatorio!">
        <input nz-input formControlName="precio" id="precio" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzSpan="8">
      <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired nzFor="sku">SKU</nz-form-label>
      <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="Este campo es obligatorio!">
        <input nz-input formControlName="sku" id="sku" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzSpan="8">
      <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired nzFor="categoria">Categoría</nz-form-label>
      <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="Este campo es obligatorio!">
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Selecciona una categoria" formControlName="categoria" id="'genero'">
          <nz-option nzLabel="Llantas" nzValue="llantas"></nz-option>
      <nz-option nzLabel="Rines" nzValue="rines"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    
    <nz-form-item nz-col nzSpan="8">
      <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired nzFor="proveedor">Proveedor</nz-form-label>
      <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="Este campo es obligatorio!">
        <input nz-input formControlName="proveedor" id="proveedor" />
      </nz-form-control>
    </nz-form-item>
    
    <nz-form-item nz-col nzSpan="8">
      <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired nzFor="descripcion">Descripción</nz-form-label>
      <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="Este campo es obligatorio!">
        <textarea nz-input formControlName="descripcion" id="descripcion" ></textarea>
      </nz-form-control>
    </nz-form-item>
    
    <div class="contenedor-btn" nz-row>
      <button class="btn-enviar" nz-col nzSpan="8" nz-button nzType="primary" type="submit"  [disabled]="!productoForm.valid">Guardar</button>
      <button class="btn-cancelar" nz-col nzSpan="8" nz-button nzType="primary" type="submit" (click)="cancelar($event)">Cancelar</button>
    </div>
      
    
  </form>
  
 
  
