<section class="proveedores">
  <div class="proveedores__descripcion">
    <div class="proveedores__descripcion--info-stock">
      <p class="proveedores__descripcion--info-stock--llave">
        Total de proveedores:
      </p>
      <p class="proveedores__descripcion--info-stock--valor">
        {{ totalProveedores }}
      </p>
    </div>
    <div class="proveedores__descripcion--info-stock">
      <p class="proveedores__descripcion--info-stock--llave">
        última actualización:
      </p>
      <p class="proveedores__descripcion--info-stock--valor">
        {{ ultimaActualizacion | date: 'dd-MM-yyyy' }}
      </p>
    </div>
  </div>
  <div class="proveedores__botones">
    <button
      class="proveedores__botones--boton"
      nz-button
      nzType="default"
      (click)="agregarProveedor()"
    >
      <span nz-icon nzType="plus-circle"></span>
      Agregar proveedor
    </button>
  </div>
  <app-tabla
    [columnasTabla]="columnasTabla"
    [filasTabla]="datosTabla"
    [filasBusqueda]="datosTabla"
    (clickFila)="clickFila($event)"
  ></app-tabla>
</section>

<app-card-proveedor
  [mostrarCardProveedor]="mostrarCardProveedor"
  [proveedor]="proveedor"
  (clickCerrar)="clickCerrarModal($event)"
  (actualizarProveedorEmit)="actualizacionProveedor()"
  (eliminarProveedorEmit)="eliminarProveedor()"
></app-card-proveedor>

<app-agregar-proveedor
  [mostrarModal]="mostrarAgregarProveedor"
  (clickGuardarProveedor)="clickGuardarProveedor()"
  (clickCerrar)="clickCerrarModalAgregarProveedor()"
></app-agregar-proveedor>
