<div class="modal">
  <div class="modal__contenido">
    <div class="modal__contenido--cerrar" (click)="cerrarModal()">&times;</div>
    <div class="modal__contenido--secciones">
      <div class="modal__contenido--secciones__imagen">
        <img
          class="modal__contenido--secciones__imagen--icono"
          src="/assets/imagenes/caracteristicas.png"
          alt=""
        />
      </div>
      <div
        class="modal__cabecera--titulo"
        *ngIf="productosCompraVenta.length < 1"
      >
        <span
          class="icono-info"
          nz-icon
          nzType="info-circle"
          nzTheme="outline"
        ></span>
        Agregar producto
      </div>
      <div class="modal__switch" *ngIf="productosCompraVenta.length > 0">
        <p class="modal__switch--titulo">
          ¿Desea agregar un producto del almacen de compras?
        </p>
        <div class="modal__switch--icono">
          <nz-switch
            (ngModelChange)="switch($event)"
            [(ngModel)]="switchValue"
            name="switch"
          ></nz-switch>
        </div>
      </div>
      <div class="agregar" [formGroup]="guardarForm">
        <div class="agregar--datos">
          <div class="agregar--datos__contenedor">
            <div class="agregar--datos__contenedor--texto">
              <p class="agregar--datos__contenedor--texto--llave">Nombre</p>
              <p class="agregar--datos__contenedor--texto--valor">
                <input
                  *ngIf="!productoCompra"
                  type="text"
                  formControlName="nombreProducto"
                />
                <select
                  class="select"
                  *ngIf="productoCompra"
                  formControlName="nombreProducto"
                  (change)="selectNombreProductoCompraVenta($event)"
                >
                  <option
                    *ngFor="let producto of productosCompraVenta"
                    [value]="producto.id"
                  >
                    {{ producto.nombre }}
                  </option>
                </select>
              </p>
            </div>
            <div class="agregar--datos__contenedor--texto">
              <p class="agregar--datos__contenedor--texto--llave">
                Código de barras
              </p>
              <p class="agregar--datos__contenedor--texto--valor">
                <input formControlName="codigoBarras" />
              </p>
            </div>
            <div class="agregar--datos__contenedor--texto">
              <p class="agregar--datos__contenedor--texto--llave">Categoría</p>
              <p class="agregar--datos__contenedor--texto--valor">
                <select class="select" formControlName="idCategoria">
                  <option
                    *ngFor="let categoria of categorias"
                    [value]="categoria.id"
                  >
                    {{ categoria.categoria }}
                  </option>
                </select>
              </p>
            </div>
            <div class="agregar--datos__contenedor--texto">
              <p class="agregar--datos__contenedor--texto--llave">
                Cantidad en stock
              </p>
              <p class="agregar--datos__contenedor--texto--valor">
                <input formControlName="cantidadStock" />
              </p>
            </div>
            <div class="agregar--datos__contenedor--texto">
              <p class="agregar--datos__contenedor--texto--llave">
                Precio de venta
              </p>
              <p class="agregar--datos__contenedor--texto--valor">
                <input formControlName="precioVenta" />
              </p>
            </div>
            <div class="agregar--datos__contenedor--texto">
              <p class="agregar--datos__contenedor--texto--llave">
                Precio de compra
              </p>
              <p class="agregar--datos__contenedor--texto--valor">
                <input formControlName="precioCompra" />
              </p>
            </div>
            <div class="agregar--datos__contenedor--texto">
              <p class="agregar--datos__contenedor--texto--llave">Descuento</p>
              <p class="agregar--datos__contenedor--texto--valor">
                <input formControlName="descuento" />
              </p>
            </div>
            <div class="agregar--datos__contenedor--texto">
              <p class="agregar--datos__contenedor--texto--llave">
                Descripción
              </p>
              <p class="agregar--datos__contenedor--texto--valor">
                <textarea rows="2" formControlName="descripcion"></textarea>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal__contenido--footer">
      <div class="modal__contenido--footer__contenedor-iconos">
        <div class="agregar--boton" (click)="guardarProducto()">
          <button
            nz-button
            [disabled]="!guardarForm.valid"
            [ngClass]="{ desactivado: !guardarForm.valid }"
          >
            <span nz-icon nzType="plus" nzTheme="outline"></span>
            Agregar producto
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
