<div class="modal">
  <div class="modal__contenido">
    <span class="modal__contenido--cerrar" (click)="cerrarModal()"
      >&times;</span
    >

    <div class="modal__contenido--cabecera">
      <div class="modal__contenido--cabecera__titulo">
        <span
          class="icono-info"
          nz-icon
          nzType="info-circle"
          nzTheme="outline"
        ></span>
        Agregar producto
      </div>
      <div
        class="modal__contenido--cabecera__switch"
        *ngIf="productosCompraVenta.length > 0"
      >
        <span class="modal__contenido--cabecera__switch--titulo">
          ¿Desea agregar un producto desde el stock de compras?
        </span>
        <nz-switch
          (ngModelChange)="switch($event)"
          [(ngModel)]="switchValue"
          name="switch"
        ></nz-switch>
      </div>
    </div>

    <form class="modal__form" [formGroup]="guardarForm">
      <nz-form-item class="modal__form--seccion">
        <nz-form-control *ngIf="!productoCompra">
          <label class="label">Nombre</label>
          <input nz-input type="text" formControlName="nombreProducto" />
        </nz-form-control>
        <nz-form-control *ngIf="productoCompra">
          <label class="label">Nombre</label>
          <select
            class="select"
            formControlName="nombreProducto"
            (change)="selectNombreProductoCompraVenta($event)"
          >
            <option
              *ngFor="let producto of productosCompraVenta"
              [value]="producto.id"
            >
              {{ producto.nombre }}
            </option>
          </select>
        </nz-form-control>
        <nz-form-control>
          <label class="label">Categoría</label>
          <select class="select" formControlName="idCategoria">
            <option *ngFor="let categoria of categorias" [value]="categoria.id">
              {{ categoria.categoria }}
            </option>
          </select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="modal__form--seccion">
        <nz-form-control>
          <label class="label">Código de barras</label>
          <input nz-input formControlName="codigoBarras" />
        </nz-form-control>
        <nz-form-control>
          <label class="label">SKU</label>
          <input nz-input type="text" formControlName="sku" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="modal__form--seccion">
        <nz-form-control>
          <label class="label">Precio de compra</label>
          <input nz-input formControlName="precioCompra" />
        </nz-form-control>
        <nz-form-control>
          <p class="label">Precio de venta</p>
          <input
            class="input"
            type="text"
            formControlName="precioVenta"
            (ngModelChange)="cambioPrecioVena($event)"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="modal__form--seccion">
        <nz-form-control>
          <label class="label">Cantidad en stock</label>
          <input nz-input type="text" formControlName="cantidadStock" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="modal__form">
        <nz-form-control>
          <label class="label">Descripción</label>
          <textarea rows="2" nz-input formControlName="descripcion"></textarea>
        </nz-form-control>
      </nz-form-item>
      <div class="modal__form--boton">
        <button
          nz-button
          nzType="primary"
          [disabled]="!guardarForm.valid"
          (click)="guardarProducto()"
        >
          Guardar producto
        </button>
      </div>
    </form>
  </div>
</div>
