
<div class="productos__descripcion">
  <div class="productos__descripcion--info-stock">
    <p class="productos__descripcion--info-stock--llave">
      Total de Empleados:
    </p>
    <p class="productos__descripcion--info-stock--valor">
      {{ empleados.length }}
    </p>
  </div>
  <div class="productos__descripcion--info-stock">
    <p class="productos__descripcion--info-stock--llave">
      Altas últimos 3 meses:
    </p>
    <p class="productos__descripcion--info-stock--valor">
      {{  contratados.length }}
    </p>
  </div>
</div>
<div class="productos__descripcion">
  <div class="productos__descripcion--info-stock">
    <p class="productos__descripcion--info-stock--llave">
      Bajas últimos 3 meses:
    </p>
    <p class="productos__descripcion--info-stock--valor"> {{  despidos.length }}</p>
  </div>
  <div class="productos__descripcion--info-stock">
    <p class="productos__descripcion--info-stock--llave">
      Empleados Ausentes:
    </p>
    <p class="productos__descripcion--info-stock--valor">0</p>
  </div>
</div>

<app-tabla
[columnasTabla]="columnasTabla"
[filasTabla]="empleados"
[filasBusqueda]="empleados"
(clickFila)="clickFila($event)"
></app-tabla>
 
<app-modal-crear class="icono-flotante" (actEmpleado)="ActualizaDatos($event)" ></app-modal-crear>

<app-card-empleados
*ngIf="empleado.curp"
[switchValue] = switchValue
  [mostrarCardEmpleado]="mostrarCardEmpleado"
  [empleado]="empleado"
  (docEmpleado)="docEmpleado($event)"
  (clickCerrar)="clickCerrarModal($event)"
  (empActualizados)="ActualizaDatos($event)"
>
</app-card-empleados>



