.titulos{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
  }