<div class="modal">
  <div class="modal__contenido">
    <span class="modal__contenido--cerrar" (click)="clickCerrarModal()"
      >&times;</span
    >
    <div class="contenido-ordenes">
      <div
        class="ordenes-compra"
        *ngFor="let proveedor of proveedoresArray; let i = index"
      >
        <app-secciones-cabecera
          *ngIf="i == 0"
          [secciones]="secciones"
          (seleccionadoClick)="selectSeccion($event)"
        ></app-secciones-cabecera>
        <app-orden-compra
          *ngIf="seccion == proveedor.clave && secciones.length > 0"
          [proveedor]="proveedor"
          (nombreProveedor)="eliminarSeccion($event)"
        ></app-orden-compra>
      </div>
      <nz-result
        *ngIf="secciones.length < 1"
        nzStatus="success"
        class="m-t-30"
        nzTitle="Puede revisar el historial de Ordenes de compra."
      >
      </nz-result>
    </div>
  </div>
</div>
