
    <div class="contenedor-principal">
      <span class="cerrar-modal" (click)="cerrarModal()">x</span>
      <div *ngIf="vista === 'card'">
        <nz-card style="width:300px;" [nzCover]="coverTemplate" [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
          <div class="contenedor-detalles">
            <h2>{{producto.nombre}}</h2>
            <p class="price">Precio: {{ producto.precio }}</p>
            <p class="category">Categoría: {{ producto.categoria }}</p>
            <p class="description">{{ producto.descripcion }}</p>
          </div>
        </nz-card>
    
        <ng-template #coverTemplate>
          <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
        </ng-template>
    
        <ng-template #actionSetting>
          <span nz-icon nzType="picture" (click)="editar('imagen')"></span>
        </ng-template>
    
        <ng-template #actionEdit>
          <span nz-icon nzType="edit" (click)="editar('formulario')"></span>
        </ng-template>
    
        <ng-template #actionEllipsis>
          <span nz-icon nzType="delete" (click)="eliminar()"></span>
        </ng-template>
      </div>
     
      <div>
        <app-formulario-productos *ngIf="vista === 'formulario'"></app-formulario-productos>
      </div>
    </div>