<div class="notas__boton-agregar" (click)="showModal()">
    <button
      class="notas__boton-agregar--boton"
      nz-button
      nzType="primary"
      nzGhost
    >
      Agregar documento
    </button>
  </div>
  
   
  <nz-modal
    [nzClosable]="false"
    [nzMaskClosable]="false"
    [(nzVisible)]="isVisible"
    nzTitle="Agregar documento"
  >
    <ng-container *nzModalContent>
      <form nz-form [formGroup]="documentoForm" class="login-form">
        <nz-form-item>
          <nz-form-control nzErrorTip="Ingrese el nombre del documento!">
            <nz-input-group nzPrefixIcon="file">
              <input
                type="text"
                nz-input
                formControlName="nombre_archivo"
                placeholder="Nombre del documento"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="upload">
              <span class="texto-archivo">{{ textoArchivo }}</span>
              <input
                type="file"
                id="input-files"
                class="input-file"
                (change)="archivoDocumento($event)"
              />
              <label for="input-files" class="custom-file-upload"
                >Subir archivo</label
              >
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </form>
    </ng-container>
    <div *nzModalFooter>
      <button nz-button (click)="cerrarModal()">Cerrar</button>
      <button
        [disabled]="!documentoForm.valid"
        nz-button
        nzType="primary"
        (click)="guardarDocumento()"
      >
        Guardar documento
      </button>
    </div>
  </nz-modal>
