@import "../../../../../../../../styles.scss";

.green-icon {
    color: $color-brand-primary; /* Aplica el color verde al icono */
    font-size: 40px; /* Ajusta el tamaño del icono a 24 píxeles */
  }

  nz-form-item{
    margin-left: 5%;
  }

  .custom-file-upload {
    display: inline-block;
    padding: 4px 10px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid $color-brand-primary;
    font-size: 14px;
    color: $color-brand-primary;
    margin: auto 0px auto auto;
  }
  
  .custom-file-upload:hover {
    transition: 0.4s;
    background-color: $color-brand-primary;
    color: white;
  }

  