<div class="notas__boton-agregar" (click)="showModal()">
  <a>
    <span class="green-icon" nz-icon nzType="file-add" nzTheme="fill"></span>
  </a>
</div>

<nz-modal
  [nzClosable]="false"
  [nzMaskClosable]="false"
  [(nzVisible)]="isVisible"
  nzTitle="Agregar documento"
>
  <ng-container *nzModalContent>
    <form class="editar__form" [formGroup]="documentoForm">
      <nz-form-item class="editar__form--seccion">
        <nz-form-control>
          <label class="label">Nombre</label>
          <input nz-input type="text" formControlName="nombre_archivo" />
        </nz-form-control>
        <nz-form-control>
          <label class="label">Área</label>
          <input nz-input type="text" formControlName="area" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="editar__form--seccion">
        <nz-form-control>
          <label class="label">No de páginas</label>
          <input nz-input type="text" />
        </nz-form-control>
        <nz-form-control>
          <label class="label">Clasificación</label>
          <input nz-input type="text" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="editar__form--seccion">
        <nz-form-control>
          <label class="label">Cargar Archivo</label>
          <input
            type="file"
            id="input-files"
            class="input-file"
            (change)="archivoDocumento($event)"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-alert
        *ngIf="mostarNotificacion"
        nzType="success"
        nzMessage="Actualización del empleado correcta"
        class="notificacion"
      ></nz-alert>
    </form>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button (click)="cerrarModal()">Cerrar</button>
    <button
      [disabled]="!documentoForm.valid"
      nz-button
      nzType="primary"
      (click)="guardarDocumento()"
    >
      Guardar documento
    </button>
  </div>
</nz-modal>
