<div class="modal" *ngIf="mostrarCardProducto">
  <div class="modal__contenido">
    <span class="modal__contenido--cerrar" (click)="clickCerrarModal()"
      >&times;</span
    >
    <div class="modal__contenido--secciones">
      <div
        class="modal__contenido--secciones__informacion"
        *ngIf="seccionModal === 'informacion'"
      >
        <app-informacion [producto]="producto"></app-informacion>
      </div>
      <div
        class="modal__contenido--secciones__editar"
        *ngIf="seccionModal === 'editar'"
      >
        <app-editar
          [producto]="producto"
          [categorias]="categorias"
          (actualizarProductoEmit)="actualizacionProducto()"
        ></app-editar>
      </div>
      <div
        class="modal__contenido--secciones__editar"
        *ngIf="seccionModal === 'eliminar'"
      >
        <app-eliminar
          [producto]="producto"
          (eliminarProductoEmit)="eliminarProducto()"
        ></app-eliminar>
      </div>
    </div>
    <div class="modal__contenido--footer">
      <div class="modal__contenido--footer__contenedor-iconos">
        <span
          class="modal__contenido--footer__contenedor-iconos--icono"
          nz-icon
          nzType="container"
          nzTheme="outline"
          [ngClass]="{ seleccionada: seccionModal === 'informacion' }"
          (click)="clickInformacion()"
        ></span>
        <span
          class="modal__contenido--footer__contenedor-iconos--icono"
          nz-icon
          nzType="edit"
          nzTheme="outline"
          [ngClass]="{ seleccionada: seccionModal === 'editar' }"
          (click)="clickEditar()"
        ></span>
        <span
          class="modal__contenido--footer__contenedor-iconos--icono eliminar"
          nz-icon
          nzType="delete"
          nzTheme="outline"
          [ngClass]="{ eliminarSelect: seccionModal === 'eliminar' }"
          (click)="clickEliminar()"
        ></span>
      </div>
    </div>
  </div>
</div>
