<div class="contenedor-principal-pagina notas">
  <div class="notas__secciones-cabecera">
    <app-secciones-cabecera [secciones]="secciones"></app-secciones-cabecera>
  </div>

  <div class="notas__documento" *ngFor="let documento of documentos; let i = index">
    <div class="notas__documento--icono">
      <app-icono-archivo
        [tipoArchivo]="documento.extension || ''"
        tamanoIcono="30"
      ></app-icono-archivo>
      {{ documento.nombre_archivo }}
    </div>
    <div class="notas__documento--boton">
      <button
        class="notas__documento--boton--ver"
        nz-button
        nzType="primary"
        nzGhost
        (click)="modalModificarArchivo(documento, i)"
      >
        Actualizar documento
      </button>
      <!-- <input
        type="file"
        [id]="'input-file'+documento.id"
        (change)="archivoCargado($event, documento, i)"
        class="input-file"
      />
      <label [for]="'input-file'+documento.id" class="custom-file-upload"
        >Modificar archivo</label
      > -->
      <button
        class="notas__documento--boton--ver"
        nz-button
        nzType="primary"
        nzGhost
        (click)="verArchivo()"
      >
        Ver archivo
      </button>
      <button
        class="notas__documento--boton--eliminar"
        nz-button
        nzType="default"
        nzDanger
        (click)="eliminarArchivo()"
      >
        Eliminar
      </button>
    </div>
  </div>

  <div class="notas__boton-agregar" (click)="showModal()">
    <button
      class="notas__boton-agregar--boton"
      nz-button
      nzType="primary"
      nzGhost
    >
      Agregar documento
    </button>
  </div>
</div>

<nz-modal
  [nzClosable]="false"
  [nzMaskClosable]="false"
  [(nzVisible)]="isVisible"
  nzTitle="Agregar documento"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="documentoForm" class="login-form">
      <nz-form-item>
        <nz-form-control nzErrorTip="Ingrese el nombre del documento!">
          <nz-input-group nzPrefixIcon="file">
            <input
              type="text"
              nz-input
              formControlName="nombre_archivo"
              placeholder="Nombre del documento"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group nzPrefixIcon="upload">
            <span class="texto-archivo">{{ textoArchivo }}</span>
            <input
              type="file"
              id="input-files"
              class="input-file"
              (change)="archivoDocumento($event)"
            />
            <label for="input-files" class="custom-file-upload"
              >Subir archivo</label
            >
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button (click)="cerrarModal()">Cerrar</button>
    <button
      [disabled]="!documentoForm.valid"
      nz-button
      nzType="primary"
      (click)="guardarDocumento()"
    >
      Guardar documento
    </button>
  </div>
</nz-modal>

<nz-modal
  [nzClosable]="false"
  [nzMaskClosable]="false"
  [(nzVisible)]="modificarDocumentoVisible"
  nzTitle="Modificar documento"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="documentoActualizarForm" class="login-form">
      <nz-form-item>
        <nz-form-control nzErrorTip="Ingrese el nombre del documento!">
          <nz-input-group nzPrefixIcon="file">
            <input
              type="text"
              nz-input
              formControlName="nombre_archivo"
              placeholder="Nombre del documento"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group nzPrefixIcon="upload">
            <span class="texto-archivo">{{ textoArchivo }}</span>
            <input
              type="file"
              id="input-files"
              class="input-file"
              (change)="archivoDocumentoModificar($event)"
            />
            <label for="input-files" class="custom-file-upload"
              >Modificar archivo</label
            >
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button (click)="cerrarModal()">Cerrar</button>
    <button
      [disabled]="!documentoActualizarForm.valid"
      nz-button
      nzType="primary"
      (click)="actualizarDocumento()"
    >
      Guardar documento
    </button>
  </div>
</nz-modal>
