<nz-sider
  class="menu-sidebar"
  nzWidth="256px"
  [nzCollapsed]="isCollapsed"
  (mouseenter)="isCollapsed = false"
  (mouseleave)="isCollapsed = true"
>
  <div
    class="contenedor-sider"
    [ngClass]="{ 'sider-hover': !isCollapsed, 'sider-hover-off': isCollapsed }"
  >
    <div class="sidebar-logo">
      <a routerLink="/home">
        <h1 class="sider-logo">SA</h1>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <ul
        nz-menu
        nzMode="inline"
        nzTheme="dark"
        [nzInlineCollapsed]="isCollapsed"
        routerLink="/documentos"
      >
        <li
          nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          [nzTooltipTitle]="isCollapsed ? 'Navigation One' : ''"
        >
          <span nz-icon nzType="file-text"></span>
          <span>Documentos</span>
        </li>
      </ul>
      <ul
        nz-menu
        nzMode="inline"
        nzTheme="dark"
        [nzInlineCollapsed]="isCollapsed"
        routerLink="/empleados"
      >
        <li
          nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          [nzTooltipTitle]="isCollapsed ? 'Navigation One' : ''"
        >
          <span nz-icon nzType="usergroup-add"></span>
          <span>Empleados</span>
        </li>
      </ul>
      <ul
        nz-menu
        nzMode="inline"
        nzTheme="dark"
        [nzInlineCollapsed]="isCollapsed"
        routerLink="/calendario"
      >
        <li
          nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          [nzTooltipTitle]="isCollapsed ? 'Navigation One' : ''"
        >
          <span nz-icon nzType="calendar"></span>
          <span>Calendario</span>
        </li>
      </ul>
      <li nz-submenu nzOpen nzTitle="Productos" nzIcon="shop">
        <ul>
          <li nz-menu-item routerLink="/productos/stock">
            <a>Stock</a>
          </li>
          <li nz-menu-item routerLink="/productos/proveedores/informacion">
            <a>Proveedores</a>
          </li>
          <li nz-menu-item routerLink="/productos/ventas">
            <a>Ventas</a>
          </li>
          <li nz-menu-item routerLink="/productos/analisis">
            <a>Análisis</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nz-sider>
