<nz-sider
  class="menu-sidebar"
  nzWidth="256px"
  [nzCollapsed]="isCollapsed"
  (mouseenter)="isCollapsed = false"
  (mouseleave)="isCollapsed = true"
>
  <div
    class="contenedor-sider"
    [ngClass]="{ 'sider-hover': !isCollapsed, 'sider-hover-off': isCollapsed }"
  >
    <div class="sidebar-logo">
      <a routerLink="/home">
        <h1 class="sider-logo">SA</h1>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <ul
        nz-menu
        nzMode="inline"
        nzTheme="dark"
        [nzInlineCollapsed]="isCollapsed"
        routerLink="/documentos"
      >
        <li
          nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          [nzTooltipTitle]="isCollapsed ? 'Navigation One' : ''"
        >
          <span nz-icon nzType="file-text"></span>
          <span>Documentos</span>
        </li>
      </ul>
      <ul
        nz-menu
        nzMode="inline"
        nzTheme="dark"
        [nzInlineCollapsed]="isCollapsed"
        routerLink="/empleados"
      >
        <li
          nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          [nzTooltipTitle]="isCollapsed ? 'Navigation One' : ''"
        >
          <span nz-icon nzType="usergroup-add"></span>
          <span>Empleados</span>
        </li>
      </ul>
      <ul
        nz-menu
        nzMode="inline"
        nzTheme="dark"
        [nzInlineCollapsed]="isCollapsed"
        routerLink="/almacen-compras"
      >
        <li
          nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          [nzTooltipTitle]="isCollapsed ? 'Navigation One' : ''"
        >
          <span nz-icon nzType="group"></span>
          <span>Almacen de compras</span>
        </li>
      </ul>
      <ul
        nz-menu
        nzMode="inline"
        nzTheme="dark"
        [nzInlineCollapsed]="isCollapsed"
        routerLink="/stock-ventas"
      >
        <li
          nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          [nzTooltipTitle]="isCollapsed ? 'Navigation One' : ''"
        >
          <span nz-icon nzType="ungroup"></span>
          <span>Stock de ventas</span>
        </li>
      </ul>
      <ul
        nz-menu
        nzMode="inline"
        nzTheme="dark"
        [nzInlineCollapsed]="isCollapsed"
        routerLink="/proveedores/informacion"
      >
        <li
          nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          [nzTooltipTitle]="isCollapsed ? 'Navigation One' : ''"
        >
          <span nz-icon nzType="barcode"></span>
          <span>Provedores</span>
        </li>
      </ul>
      <ul
        nz-menu
        nzMode="inline"
        nzTheme="dark"
        [nzInlineCollapsed]="isCollapsed"
        routerLink="/sucursales/informacion"
      >
        <li
          nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          [nzTooltipTitle]="isCollapsed ? 'Navigation One' : ''"
        >
          <span nz-icon nzType="shop"></span>
          <span>Sucursales</span>
        </li>
      </ul>
      <ul
        nz-menu
        nzMode="inline"
        nzTheme="dark"
        [nzInlineCollapsed]="isCollapsed"
        routerLink="/ventas"
      >
        <li
          nz-menu-item
          nz-tooltip
          nzTooltipPlacement="dollar"
          [nzTooltipTitle]="isCollapsed ? 'Navigation One' : ''"
        >
          <span nz-icon nzType="dollar"></span>
          <span>Ventas</span>
        </li>
      </ul>
      <ul
        nz-menu
        nzMode="inline"
        nzTheme="dark"
        [nzInlineCollapsed]="isCollapsed"
        routerLink="/analisis"
      >
        <li
          nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          [nzTooltipTitle]="isCollapsed ? 'Navigation One' : ''"
        >
          <span nz-icon nzType="area-chart"></span>
          <span>Analisis</span>
        </li>
      </ul>
      <ul
        nz-menu
        nzMode="inline"
        nzTheme="dark"
        [nzInlineCollapsed]="isCollapsed"
        routerLink="/calendario"
      >
        <li
          nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          [nzTooltipTitle]="isCollapsed ? 'Navigation One' : ''"
        >
          <span nz-icon nzType="calendar"></span>
          <span>Calendario</span>
        </li>
      </ul>
    </ul>
  </div>
</nz-sider>
