@import "../../../../../../../styles.scss";

.catalogo {
  &__form--seccion {
    display: grid;
    grid-template-columns: 65% 35%;
    &__switch {
      margin: auto 0px 0px auto;
      &--texto {
        margin: auto 10px;
        font-size: 18px;
      }
    }
    &__label {
      font-size: 18px;
      margin-bottom: 5px;
    }
    &__select {
      margin-right: 30px;
      border: none;
      border-bottom: 1px solid rgb(196, 196, 196);
      background-color: transparent;
      width: 300px;
      height: 30px;
    }
    &__boton {
      width: 300px;
    }
  }
  &__form-agregar {
    &--seccion {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
      &__label {
        font-size: 14px;
      }
      &__select {
        margin-right: 30px;
        border: none;
        border-bottom: 1px solid rgb(196, 196, 196);
        background-color: transparent;
        width: 100%;
        height: 30px;
      }
      &__boton {
        margin: 0px auto;
        width: 400px;
        button {
          width: 400px;
        }
      }
    }
  }
  &__collapse {
    &--lista {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid rgb(222, 222, 222);
      &__info {
        margin: auto;
        font-size: 16px;
      }
    }
  }
}
.imagen {
  text-align: center;
}

.tex {
  color: rgb(136, 136, 136);
}

select:focus {
  outline: none;
}

select {
  font-size: 18px;
  margin-top: 7px;
}

input {
  border: none;
  border-bottom: 1px solid rgb(196, 196, 196);
  font-size: 18px;
}

input:focus {
  border: none;
  border-bottom: 1px solid rgb(196, 196, 196);
  font-size: 18px;
}

.ant-input[disabled] {
  background-color: transparent;
}

nz-avatar {
  margin: auto;
}

.editar {
  color: rgb(130, 130, 130);
  font-size: 20px;
  &:hover {
    color: #e4a11b;
  }
}

.agregar {
  color: rgb(130, 130, 130);
  font-size: 20px;
  &:hover {
    color: $color-brand-primary;
  }
}

.eliminar {
  color: rgb(130, 130, 130);
  font-size: 20px;
  &:hover {
    color: rgb(194, 1, 1);
  }
}

.label {
  color: rgb(130, 130, 130);
}

.ant-input-status-error:not(.ant-input-disabled):not(
    .ant-input-borderless
  ).ant-input,
.ant-input-status-error:not(.ant-input-disabled):not(
    .ant-input-borderless
  ).ant-input:hover {
  border-color: rgb(196, 196, 196);
}

.icono-shop {
  font-size: 50px;
}
