<section class="productos">
  <div class="productos__descripcion">
    <div class="productos__descripcion--info-stock">
      <p class="productos__descripcion--info-stock--llave">
        Total de productos:
      </p>
      <p class="productos__descripcion--info-stock--valor">
        {{ totalProductos }}
      </p>
    </div>
    <div class="productos__descripcion--info-stock">
      <p class="productos__descripcion--info-stock--llave">
        Valor del inventario:
      </p>
      <p class="productos__descripcion--info-stock--valor">
        ${{ valorProductos.toFixed(2) }}
      </p>
    </div>
  </div>
  <div class="productos__descripcion">
    <div class="productos__descripcion--info-stock">
      <p class="productos__descripcion--info-stock--llave">
        Producto más vendido:
      </p>
      <p class="productos__descripcion--info-stock--valor">Chamarra</p>
    </div>
    <div class="productos__descripcion--info-stock">
      <p class="productos__descripcion--info-stock--llave">
        Productos agotados:
      </p>
      <p class="productos__descripcion--info-stock--valor">Playeras</p>
    </div>
  </div>
  <div class="productos__botones">
    <button
      class="productos__botones--boton"
      nz-button
      nzType="default"
      (click)="agregarProducto()"
    >
      <span nz-icon nzType="plus-circle"></span>
      Agregar producto
    </button>
    <button
      class="productos__botones--boton"
      nz-button
      nzType="default"
      (click)="agregarCategoria()"
    >
      <span nz-icon nzType="group"></span>
      Gestión de categorías
    </button>
  </div>
  <app-tabla
    [columnasTabla]="columnasTabla"
    [filasTabla]="datosTabla"
    [filasBusqueda]="datosTabla"
    (clickFila)="clickFila($event)"
  ></app-tabla>
</section>

<app-card-producto
  *ngIf="producto.nombre"
  [mostrarCardProducto]="mostrarCardProducto"
  [producto]="producto"
  [categorias]="categorias"
  (clickCerrar)="clickCerrarModal($event)"
  (actualizarProductoEmit)="actualizacionProducto()"
  (eliminarProductoEmit)="eliminarProducto()"
></app-card-producto>

<app-agregar
  [mostrarModal]="mostrarAgregarProducto"
  [categorias]="categorias"
  (clickGuardarProducto)="clickGuardarProducto()"
  (clickCerrar)="clickCerrarModalAgregarProducto($event)"
></app-agregar>

<app-agregar-categoria
  [mostrarModal]="mostrarAgregarCategoria"
  [categorias]="categorias"
  (clickGuardarCategoria)="clickGuardarCategoria()"
  (clickEliminarCategoria)="clickEliminarCategoria()"
  (clickCerrar)="clickCerrarModalAgregarCategoria($event)"
></app-agregar-categoria>
