@import "../../../../../../../styles.scss";

.productos {
  width: 90%;
  margin: 20px auto;
  &__descripcion {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 15px;
    &--info-stock {
      display: flex;
      justify-content: space-between;
      border: 1px solid rgb(231, 231, 231);
      &--llave {
        background: rgb(243, 243, 243);
        color: black;
        padding: 10px;
        width: 250px;
      }
      &--valor {
        width: 250px;
        margin: auto;
        text-align: center;
      }
    }
  }
  &__agregar {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 250px;
    margin: 20px 0px 20px auto;
    cursor: pointer;
    &:hover {
      .productos__agregar--icono,
      .productos__agregar--texto {
        color: rgb(179, 179, 179);
      }
    }
    &--icono {
      margin-right: 5px;
      padding-top: 5px;
      font-size: 24px;
    }
    &--texto {
      margin-top: 3px;
      font-size: 20px;
    }
  }
}
