
<div class="contenedor-principal">
    
        <form nz-form [formGroup]="documentoActualizarForm" class="login-form">
          <nz-form-item>
            <nz-form-control nzErrorTip="Ingrese el nombre del documento!">
              <nz-input-group nzPrefixIcon="file">
                <input
                  type="text"
                  nz-input
                  formControlName="nombre_archivo"
                  placeholder="Nombre del documento"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Password!">
              <nz-input-group nzPrefixIcon="upload">
                <span class="texto-archivo"></span>
                <input
                  type="file"
                  id="input-files"
                  class="input-file"
                  (change)="archivoDocumentoModificar($event)"
                />
                <label for="input-files" class="custom-file-upload"
                  >Modificar archivo</label
                >
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </form>
      <div class="botones">
        <button
          [disabled]="!documentoActualizarForm.valid"
          nz-button
          nzType="primary"
          (click)="actualizarDocumento()"
        >
          Guardar documento
        </button>
      </div>
</div>
 
