<section class="productos contenedor-principal-pagina">
  <header class="productos__secciones-cabecera">
    <app-secciones-cabecera
      [secciones]="secciones"
      (seleccionadoClick)="selectSeccion($event)"
    ></app-secciones-cabecera>
  </header>
  <div class="productos__descripcion">
    <div class="productos__descripcion--info-stock">
      <p class="productos__descripcion--info-stock--llave">
        Total de productos:
      </p>
      <p class="productos__descripcion--info-stock--valor">
        {{ totalProductos }}
      </p>
    </div>
    <div class="productos__descripcion--info-stock">
      <p class="productos__descripcion--info-stock--llave">
        Total de productos comprados:
      </p>
      <p class="productos__descripcion--info-stock--valor">
        {{ valorProductosVenta }}
      </p>
    </div>
  </div>
  <app-tabla
    [columnasTabla]="columnasTabla"
    [filasTabla]="datosTabla"
    [filasBusqueda]="datosTabla"
    (clickFila)="clickFila($event)"
  ></app-tabla>
</section>

<app-card-producto
  *ngIf="producto.nombre"
  [mostrarCardProducto]="mostrarCardProducto"
  [producto]="producto"
  [categorias]="categorias"
  (clickCerrar)="clickCerrarModal($event)"
  (actualizarProductoEmit)="actualizacionProducto($event)"
  (eliminarProductoEmit)="eliminarProducto($event)"
></app-card-producto>

<app-agregar
  [mostrarModal]="mostrarAgregarProducto"
  [categorias]="categorias"
  (clickGuardarProducto)="clickGuardarProducto($event)"
  (clickCerrar)="clickCerrarModalAgregarProducto($event)"
></app-agregar>

<app-agregar-categoria
  [mostrarModal]="mostrarAgregarCategoria"
  [categorias]="categorias"
  (clickGuardarCategoria)="clickGuardarCategoria()"
  (clickEliminarCategoria)="clickEliminarCategoria()"
  (clickCerrar)="clickCerrarModalAgregarCategoria($event)"
></app-agregar-categoria>

<span
  class="icono-flotante"
  nz-icon
  nzType="shopping"
  nzTheme="outline"
  nzTooltipTitle="Agregar producto"
  nzTooltipPlacement="leftTop"
  nz-tooltip
  (click)="agregarProducto()"
></span>

<span
  class="icono-flotante-2"
  nz-icon
  nzType="apartment"
  nzTheme="outline"
  nzTooltipTitle="Agregar categoría"
  nzTooltipPlacement="leftTop"
  nz-tooltip
  (click)="agregarCategoria()"
></span>
