.buscador{
  text-align: right;
}

.contenedor-documentos{
  margin-top: 4%;
  height: 70%;
}

.contenedor-cards {
    display: flex;
    margin: 20px;
    padding: 10px;
    height: 70%;
  }

  .card-documentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23%;
    height: 140px;
    transition: transform 0.2s;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .card-documentos:hover{
    transform: scale(1.1);
  }

  .text-card{
    font-size: large;
  }
  
  h1 {
    margin-left: 50px;
  }

  .icon-ojo{
    font-size: 20px;
  }

  .icons-interactive {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  
  .icon-check {
  margin-top: 5%;
  margin-left: 30%; 
    color: #001529; /* Color primario */
    font-size: 30px;
  }

  .icon-close {
    margin-top: 5%;
    margin-left: 19%; 
      color: rgb(151, 26, 26); /* Color primario */
      font-size: 30px;
    }
    
  