.contenedor-principal{
  margin-top: 4%;
}

img{
  text-align: center;
  width: 150px;
  height: 150px;
  }

.buscador{
  text-align: left;
}

.contenedor-documentos{
  margin-top: 4%;
  height: 70%;
}

.contenedor-cards {
    display: flex;
    margin: 20px;
    padding: 10px;
    height: 70%;
  }

  .card-documentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23%;
    height: 140px;
    transition: transform 0.2s;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .card-documentos:hover{
    transform: scale(1.1);
  }

  .text-card{
    font-size: large;
  }
  
  h1 {
    margin-left: 50px;
  }

  .icon-ojo{
    font-size: 20px;
  }

  .icons-interactive {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  
  .icon-check {
  margin-top: 5%;
  margin-left: 20%; 
    color: #001529; /* Color primario */
    font-size: 30px;
  }

  .icon-close {
    margin-top: 5%;
    margin-left: 36%; 
      color: rgb(151, 26, 26); /* Color primario */
      font-size: 30px;
    }

    .rechazado{
      color: red;
      margin-top: 10%;
      font-size: large;
      text-align: center;
      width: 100%;
      font-weight: bold;
    }

    .aceptado{
      color: green;
      margin-top: 10%;
      font-size: large;
      text-align: center;
      width: 100%;
      font-weight: bold;
    }

    .buscador input, .listaEmpleados select{
      border: none; /* Elimina todos los bordes */
    border-bottom: 1px solid black; /* Agrega solo el borde inferior */
    outline: none;
    }

    .info-empleado{
      margin-top: 4%;
      margin-left: 12% !important;
      width: 70%;
      height: auto;
      text-align: center;
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .info-empleado .titulo{
      text-align: center;
      font-size: 20px;
      font-weight: bold;
    }
    

    .principal {
      display: flex;
      width: 30%;
      flex-direction: column;
      margin: 3%;
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .listaEmpleados{
      margin-left: 20px;
    }

    .descripcion{
     margin: 20px;
     text-align: justify;
     font-size:larger
    }

    .descripcion p{
      margin-bottom: 10px;
    }

   
    
  