
<div class="contenedor-principal-pagina notas">
<div class="documentos__secciones-cabecera">
    <app-secciones-cabecera [secciones]="secciones" (seleccionadoClick)="sleccionarCabecera($event)"></app-secciones-cabecera>
</div>
<div class="contenedor-paginas ">
    <app-administracion *ngIf="cabecera === 'Administración'"></app-administracion>
    <app-contabilidad *ngIf="cabecera === 'Contabilidad'"></app-contabilidad>
    <app-empleados *ngIf="cabecera === 'Empleados'"></app-empleados>
    <app-fiscal *ngIf="cabecera === 'Fiscales'"></app-fiscal>
    <app-sistemas *ngIf="cabecera === 'Sistemas'"></app-sistemas> 
</div>

<app-crear></app-crear>


</div>