<div class="informacion">
  <div class="informacion--datos">
    <h4 class="informacion--datos__nombre">{{ producto.nombreProducto }}</h4>
    <div class="informacion--datos__descripcion">
      {{ producto.descripcion }}
    </div>
    <div class="informacion--datos__contenedor">
      <div class="informacion--datos__contenedor--texto">
        <p class="informacion--datos__contenedor--texto--llave">
          Código de barras
        </p>
        <p class="informacion--datos__contenedor--texto--valor">
          {{ producto.codigoBarras }}
        </p>
      </div>
      <div class="informacion--datos__contenedor--texto">
        <p class="informacion--datos__contenedor--texto--llave">SKU</p>
        <p class="informacion--datos__contenedor--texto--valor">
          {{ producto.sku }}
        </p>
      </div>
      <div class="informacion--datos__contenedor--texto">
        <p class="informacion--datos__contenedor--texto--llave">
          Ventas totales
        </p>
        <p class="informacion--datos__contenedor--texto--valor">
          {{ producto.ventasTotales }}
        </p>
      </div>
      <div class="informacion--datos__contenedor--texto">
        <p class="informacion--datos__contenedor--texto--llave">
          Cantidad en stock
        </p>
        <p class="informacion--datos__contenedor--texto--valor">
          {{ producto.cantidadStock }}
        </p>
      </div>
      <div class="informacion--datos__contenedor--texto">
        <p class="informacion--datos__contenedor--texto--llave">
          Precio de venta
        </p>
        <p class="informacion--datos__contenedor--texto--valor">
          {{ producto.precioVenta }}
        </p>
      </div>
      <div class="informacion--datos__contenedor--texto">
        <p class="informacion--datos__contenedor--texto--llave">
          Precio de compra
        </p>
        <p class="informacion--datos__contenedor--texto--valor">
          {{ producto.precioCompra }}
        </p>
      </div>
      <div class="informacion--datos__contenedor--texto">
        <p class="informacion--datos__contenedor--texto--llave">
          Descuento
        </p>
        <p class="informacion--datos__contenedor--texto--valor">
          {{ producto.descuento }}
        </p>
      </div>
      <div class="informacion--datos__contenedor--texto">
        <p class="informacion--datos__contenedor--texto--llave">Agotado</p>
        <p class="informacion--datos__contenedor--texto--valor">
          {{ !producto.agotado ? "No" : "Si" }}
        </p>
      </div>
      <div class="informacion--datos__contenedor--texto">
        <p class="informacion--datos__contenedor--texto--llave">Categoría</p>
        <p class="informacion--datos__contenedor--texto--valor">
          {{ producto.categoria }}
        </p>
      </div>
    </div>
  </div>
</div>
