<div class="editar" [formGroup]="editarForm">
  <div class="editar--datos">
    <div class="editar--datos__nombre">
      <input type="text" formControlName="nombreProducto" />
    </div>
    <div class="editar--datos__descripcion">
      <input class="editar__form" formControlName="descripcion" />
    </div>
    <div class="editar--datos__contenedor">
      <div class="editar--datos__contenedor--texto">
        <p class="editar--datos__contenedor--texto--llave">Código de barras</p>
        <p class="editar--datos__contenedor--texto--valor">
          <input formControlName="codigoBarras" />
        </p>
      </div>
      <div class="editar--datos__contenedor--texto">
        <p class="editar--datos__contenedor--texto--llave">SKU</p>
        <p class="editar--datos__contenedor--texto--valor">
          <input formControlName="sku" />
        </p>
      </div>
      <div class="editar--datos__contenedor--texto">
        <p class="editar--datos__contenedor--texto--llave">Categoría</p>
        <p class="editar--datos__contenedor--texto--valor">
          <select class="select" formControlName="idCategoria">
            <option *ngFor="let categoria of categorias" [value]="categoria.id">
              {{ categoria.categoria }}
            </option>
          </select>
        </p>
      </div>
      <div class="editar--datos__contenedor--texto">
        <p class="editar--datos__contenedor--texto--llave">Cantidad en stock</p>
        <p class="editar--datos__contenedor--texto--valor">
          <input formControlName="cantidadStock" />
        </p>
      </div>
      <div class="editar--datos__contenedor--texto">
        <p class="editar--datos__contenedor--texto--llave">Precio de venta</p>
        <p class="editar--datos__contenedor--texto--valor">
          <input formControlName="precioVenta" />
        </p>
      </div>
      <div class="editar--datos__contenedor--texto">
        <p class="editar--datos__contenedor--texto--llave">Precio de compra</p>
        <p class="editar--datos__contenedor--texto--valor">
          <input formControlName="precioCompra" />
        </p>
      </div>
      <div class="editar--datos__contenedor--texto">
        <p class="editar--datos__contenedor--texto--llave">Agotado</p>
        <p class="editar--datos__contenedor--texto--valor">
          <select class="select" formControlName="agotado">
            <option [value]="1">Si</option>
            <option [value]="0">No</option>
          </select>
        </p>
      </div>
      <div class="editar--datos__contenedor--texto">
        <p class="editar--datos__contenedor--texto--llave">Descuento</p>
        <p class="editar--datos__contenedor--texto--valor">
          <input formControlName="descuento" />
        </p>
      </div>
    </div>
  </div>
  <div class="editar--boton" (click)="actualizarProducto()">
    <button nz-button nzType="primary" [disabled]="!editarForm.dirty">
      Actualizar producto
    </button>
  </div>
</div>
