<section class="carrito">
  <nz-result
    *ngIf="carrito.length == 0"
    [nzIcon]="'shopping'"
    nzTheme="outline"
    [nzTitle]="'No hay ningún producto en el carrito'"
  >
  </nz-result>
  <div *ngIf="carrito.length > 0" class="carrito__contenedor">
    <div class="carrito__contenedor__producto">
      <div class="carrito__contenedor__producto--titulo">
        Productos a comprar
      </div>
      <div
        class="carrito__contenedor__producto--lista"
        *ngFor="let producto of carrito"
      >
        <div class="carrito__contenedor__producto--lista--imagen">
          <img [src]="producto.imagen" alt="imagen producto" />
        </div>
        <div class="carrito__contenedor__producto--lista--informacion">
          <div
            class="carrito__contenedor__producto--lista--informacion--nombre"
          >
            {{ producto.nombreProducto }}
          </div>
          <div
            class="carrito__contenedor__producto--lista--informacion--politicas"
          >
            {{ producto.nombreProveedor }}
          </div>
          <div
            class="carrito__contenedor__producto--lista--informacion--politicas"
          >
            {{ producto.politicasVenta }}
          </div>
          <div
            class="carrito__contenedor__producto--lista--informacion--eliminar"
            (click)="eliminarProducto(producto)"
          >
            Eliminar
          </div>
        </div>
        <div class="carrito__contenedor__producto--lista--agregar">
          <div class="carrito__contenedor__producto--lista--agregar__sumador">
            <div
              class="carrito__contenedor__producto--lista--agregar__sumador--restar"
              [ngClass]="{ restar: producto.cantidadCompra <= 1 }"
              (click)="restar(producto)"
            >
              -
            </div>
            <div
              class="carrito__contenedor__producto--lista--agregar__sumador--cantidad"
            >
              {{ producto.cantidadCompra }}
            </div>
            <div
              class="carrito__contenedor__producto--lista--agregar__sumador--sumar"
              (click)="sumar(producto)"
            >
              +
            </div>
          </div>
          <p
            class="carrito__contenedor__producto--lista--agregar__sumador--texto"
          >
            Cantidad a comprar
          </p>
        </div>
        <div class="carrito__contenedor__producto--lista--precio">
          ${{ producto.precioCompra }}
          <p class="carrito__contenedor__producto--lista--precio--texto">
            Precio de compra
          </p>
        </div>
      </div>
    </div>
    <div class="carrito__contenedor__resumen-compra">
      <div class="carrito__contenedor__resumen-compra--titulo">
        Resumen de compra
      </div>
      <div class="carrito__contenedor__resumen-compra--productos">
        Productos ({{ cantidadProductos }})
      </div>
      <div class="carrito__contenedor__resumen-compra--total">
        <div class="carrito__contenedor__resumen-compra--total--texto">
          Total
        </div>
        <div class="carrito__contenedor__resumen-compra--total--cantidad">
          ${{ total }}
        </div>
      </div>
      <div class="carrito__contenedor__resumen-compra--comprar">
        <button
          class="carrito__contenedor__resumen-compra--comprar--boton"
          nz-button
          nzType="primary"
          (click)="realizarCompra()"
        >
          Realizar compra
        </button>
      </div>
    </div>
  </div>
</section>
<app-card-orden-compra
  *ngIf="cardOrdenCompra"
  [productos]="productosOrden"
  (clickCerrar)="clickCerrar()"
></app-card-orden-compra>
