<div class="informacion">
  <h2 class="informacion--titulo">
    <span
      class="icono-info"
      nz-icon
      nzType="info-circle"
      nzTheme="outline"
    ></span>
    Información del producto
  </h2>
  <div class="informacion--imagen">
    <img [src]="producto.imagen" alt="" />
  </div>

  <div class="informacion--datos">
    <h4 class="informacion--datos__nombre">{{ producto.nombre }}</h4>
    <div class="informacion--descripcion">
      <div class="informacion--descripcion--info-stock">
        <p class="informacion--descripcion--info-stock--llave">Categoria:</p>
        <p class="informacion--descripcion--info-stock--valor">
          {{ producto.categoria }}
        </p>
      </div>
      <div class="informacion--descripcion--info-stock">
        <p class="informacion--descripcion--info-stock--llave">SKU:</p>
        <p class="informacion--descripcion--info-stock--valor">
          ${{ producto.sku }}
        </p>
      </div>
    </div>
    <div class="informacion--descripcion">
      <div class="informacion--descripcion--info-stock">
        <p class="informacion--descripcion--info-stock--llave">
          Precio de compra:
        </p>
        <p class="informacion--descripcion--info-stock--valor">
          {{ producto.precioCompra }}
        </p>
      </div>
      <div class="informacion--descripcion--info-stock">
        <p class="informacion--descripcion--info-stock--llave">
          Precio de venta:
        </p>
        <p class="informacion--descripcion--info-stock--valor">
          {{ producto.precioVenta }}
        </p>
      </div>
    </div>
    <div class="informacion--descripcion">
      <div class="informacion--descripcion--info-stock">
        <p class="informacion--descripcion--info-stock--llave">
          Precio de compra:
        </p>
        <p class="informacion--descripcion--info-stock--valor">
          {{ producto.precioCompra }}
        </p>
      </div>
      <div class="informacion--descripcion--info-stock">
        <p class="informacion--descripcion--info-stock--llave">
          Precio de venta:
        </p>
        <p class="informacion--descripcion--info-stock--valor">
          {{ producto.precioVenta }}
        </p>
      </div>
    </div>
    <div class="informacion--descripcion">
      <div class="informacion--descripcion--info-stock">
        <p class="informacion--descripcion--info-stock--llave">
          Cantidad en stock:
        </p>
        <p class="informacion--descripcion--info-stock--valor">
          {{ producto.cantidadStock }}
        </p>
      </div>
      <div class="informacion--descripcion--info-stock">
        <p class="informacion--descripcion--info-stock--llave">
          Última fecha de compra:
        </p>
        <p class="informacion--descripcion--info-stock--valor">
          {{ producto.fechaCompra }}
        </p>
      </div>
    </div>
    <div class="informacion--descripcion">
      <div class="informacion--descripcion--info-stock">
        <p class="informacion--descripcion--info-stock--llave">Poveedor:</p>
        <p class="informacion--descripcion--info-stock--valor">
          {{ producto.proveedor }}
        </p>
      </div>
      <div class="informacion--descripcion--info-stock">
        <p class="informacion--descripcion--info-stock--llave">Vendidos:</p>
        <p class="informacion--descripcion--info-stock--valor">
          {{ producto.ventas }}
        </p>
      </div>
    </div>
    <div class="informacion">
        <div class="informacion--info-stock">
          <p class="informacion--info-stock--llave">
            Descripcón:
          </p>
          <p class="informacion--info-stock--descripcion">
            {{ producto.descripcion }}
          </p>
        </div>
      </div>
  </div>
</div>
