<div class="contenedor-principal-pagina notas">
    <app-secciones-cabecera
      [secciones]="secciones"
      (seleccionadoClick)="selectSeccion($event)"
    ></app-secciones-cabecera>

    <app-tablatablaEmpleados (documentos)="verDocumentos($event)" *ngIf="seccion === 'Lista de empleados'"></app-tablatablaEmpleados>
    <app-documentos [empleado]="empleado" *ngIf="seccion === 'Documentos de empleado'"></app-documentos>
    <app-solicitudes *ngIf="seccion === 'Solicitudes de empleado'"></app-solicitudes>
  </div>

 