@import "../../../../../../../../styles.scss";

.eliminar {
  padding: 0px 15px;
  &--datos {
    &__nombre {
      color: $color-brand-primary;
      margin: 0px auto;
      font-size: 24px;
      font-weight: 600;
      text-align: center;
      margin-top: 10px;
    }
    &__descripcion {
      color: $color-brand-primary;
      margin: 0px auto 15px auto;
      font-size: 14px;
      text-align: center;
    }
  }
  &__titulo {
    padding-top: 10px;
    font-size: 16px;
    color: black;
    margin: 70px auto 10px auto;
    width: 310px;
  }
  &__contenido {
    width: 200px;
    margin: 0px auto;
    &--boton {
      width: 100%;
      background: #b7001f;
      color: white;
    }
  }
}

.icono-info {
  color: #dc4c64;
  margin-right: 5px;
  font-size: 24px;
}
