<div class="eliminar">
  <div class="eliminar--datos">
    <h4 class="eliminar--datos__nombre">{{ producto.nombreProducto }}</h4>
    <div class="eliminar--datos__descripcion">
      {{ producto.descripcion }}
    </div>
    <div class="eliminar--datos__contenedor">
      <h2 class="eliminar__titulo">
        <span
          class="icono-info"
          nz-icon
          nzType="exclamation-circle"
          nzTheme="outline"
        ></span
        >¿Estás seguro de eliminar el producto?
      </h2>
      <div class="eliminar__contenido">
        <button
          class="eliminar__contenido--boton"
          nz-button
          (click)="clickEliminar()"
        >
          Eliminar producto
        </button>
      </div>
    </div>
  </div>
</div>

  